.container {
    width: 1440px;
    margin: 0 auto;
}
.header {
    height: 90px;
    background: #E5E5E5;
}
.wrap-header {
    display: flex;
    justify-content: space-between;    
}
.logo {
    width: 216px;
    padding: 25px 0 34px 120px;
}
.nav-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
}
.nav-link a {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: white;
    text-decoration: none;
    padding: 0 42px;
    
}
/* .login {
    padding-right: 120px;
} */
