body {
    background-image: url(../assets/img/garrett-parker-DlkF4-dbCOU-unsplash\ 1.jpg);
    background-repeat: no-repeat;
    /* background-size: cover;  */
    background-position: center top;
    width: 1440px;
    height: 765px;
}
.container {
    width: 1440px;
    margin: 0 auto;
}
.header {
    height: 90px;
    background: rgba(242, 120, 92, 0.7);
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
    
}
.wrap-header {
    display: flex;
    justify-content: space-between; 
    align-items: center;   
}
.logo {
    width: 216px;
    margin: 0;
    padding: 25px 0 34px 120px;
}
.nav {
    margin-left: 158px;
}
.nav-list {
    display: flex;
    justify-content: flex-start;
    list-style: none;
}
.nav-link a {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: white;
    text-decoration: none;
    margin-right: 42px;
    
}
.form-log {
    padding: 25px 120px 24px 0;
    
}
.login {
    width: 103px;
    height: 41px;
    background: #0D606F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    border-style: none;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

.preview {
    height: 675px;    

}
.wrap-preview {
    width: 892px;
    height: 422px;
    margin-top: 32px;
    margin-left: 120px;    
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
h1 {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;    
    color: #FFFFFF;
    margin-bottom: 30px;     
}
.text-preview {
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 46px;
}
.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 892px;
    height: 95px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}
.text-search {
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #F2785C;
    padding-left: 41px;
}
.form-search {
    padding-right: 18px;
}
.butt-search {
    width: 228px;
    height: 59px;
    background: #0D606F;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px; 
    border-style: none;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;   
}
.steps {
    width: 1177px;
    height: 247px;
    margin: 80px auto 97px;   
    border: 1px solid;
}
h2 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    color: #F2785C;

}
.wrap-frame {
    width: 1177px;
    height: 247px;
    display: flex;
    justify-content: space-between;
}
.img-frames {
    padding: 40px 73px 30px;
}
.p-steps {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #0D606F;
}

.footer {
    width: 728.96px;
    height: 33.65px;
}
